.container-fluid
    .row
        .col-md-9.relativity
            .row
                .span12.ui-view-container
                    .page(ui-view)        
        .col-md-3
            div.list-group(data-ng-controller='NavCtrl')
                a.list-group-item(href='/welcome', active-nav) One.
                a.list-group-item(href='/two', active-nav) Two.
                a.list-group-item(href='/three', active-nav) Three.

article(ng-controller="pageController")
    {{pageClass}}