home.registered.jade

.homeRegistered(ui-view="home.registered");
	h3 Welcome back
	p I then decided that the best way to accomplish what I wanted, which was to have almost identical sales pages for both existing a new users but set up in a way that modular 
	functionality and sales features could be included depending on user decisions.

	p The way I found round this problem was to create a home route partial called ui-view.home.jade which would contain the main presentational html structure of the app, as well as functioning as a kind manifest for ui-views which can be swapped around using the views argument of the ui-router state in app.js.

	I am experimenting with prefixing angular view files with a descriptive term

	I chose to us a camel case naming structure for the homeController as this was the convention I had kept to when building the user interface elsewhere and also to keep a clear demarcation between files relating to the authenication routing framework and those concerned with the business logic of the app. Currently this will just return a scope message indicating the pages have been loaded.


	
article.homeUnregistered(ui-view="home.unregistered")
	a(href='/register') Register
