h2 jade doesn't like hyphens in file names

p Not much has changed since your last visit, but you might like:

p
	| Some 
	a(href="http://www.mixcloud.com/mrmanakablackjack/techno-groove-vol-2/") decent 
	| tunes

p
	| The same 
	| <a href="http://www.mixcloud.com/mrmanakablackjack/techno-groove-vol-2/">tunes</a>
	| in traditional html

