.ui-view.homeRegistered(ui-view="home.registered")

	h1 Hello Again
	p Then I remembered that I am now using the same home page for both registered and new users. This is losing effective space for existing users and can be fixed by adding a secondary ui-view within the main page.

	p I also realised that I had caused an error on the server when when I changed the client side folder structure to group angular components into features.



