h2 
    span
        i.fa.fa-search &nbsp;
    Look in your pantry.

{{works}}
{{ingredients}}

//h3(ng-click="IngredientShow()");

ul.list-inline(ng-repeat="ingredient in ingredients")
    li {{ingredient.sku}}
    li {{ingredient.productName}}
    li {{ingredient.price}}
    li {{ingredient.inventory}}

