h2 
    span
        i.fa.fa-search &nbsp;
    Look in your pantry.

//- {{works}}
//- {{ingredients}}
h3 {{item}}

//h3(ng-click="IngredientShow()");

ul.list-inline(ng-repeat="ingredient in ingredients")
    li 
    li {{ingredient.sku}}
    li {{ingredient.productName}}
    li {{ingredient.price}}
    li {{ingredient.inventory}}
    li
        a(href='#' ng-click="deleteIngredient(ingredient._id)") delete

