.container
    .row
        .col-md-4.col-md-push-6
            div.list-group(data-ng-controller='NavCtrl')
                .list-group-item
                    strong Things to do Today
                //a.list-group-item(href='/private', active-nav) 
                a.list-group-item(href='/private/cupboard', active-nav) Look in your cupboard.
                a.list-group-item(href='/private/write', active-nav) Write about yourself.
                a.list-group-item(href='/private/addrecipe', active-nav) Add a Recipe.
                a.list-group-item(href='/private/admin', active-nav, data-access-level='accessLevels.admin') A nested admin view
        .col-md-6.col-md-pull-4(data-ui-view)