.container-fluid
    .row
        .col-md-8.col-md-offset-2
            div.customer-menu(data-ng-controller='NavCtrl')
                a.customer-menu-item(href='/private/cupboard', active-nav) Look in your cupboard.
                a.customer-menu-item(href='/private/write', active-nav) Write about yourself.
                a.customer-menu-item(href='/private/addrecipe', active-nav) Add a Recipe.
                a.customer-menu-item(href='/private/admin', active-nav, data-access-level='accessLevels.admin') A nested admin view
    .row
        .col-md-8.col-md-offset-2.private(data-ui-view autoscroll="false")