h2 Hi {{customer}},

h3 Welcome to your store

p The menu on the right shows you the things your can do.

p Follow our guide to get started. 

p If you not a new user in which case this page will look different.