h2 Hi {{customer}},

h3 We are not cookied design. 

.row
    .col-md-6
        pre I am a product designer and web developer. 
    .col-md-6
        pre My partner is a marketing strategist and graphic design expert. 

p We have been partners for around an hour so this pitch is aimed to inform you of the possibities you have and to persuade you that taking a black box pitch can have remarkable outcomes for your business.

p We don't believe in making a visual pitch of what your product should look like, because this denies you the opportunity of seeing a design that best fits your organisation and it's values organically grow 

p If you have gotten this far there is obviously something to say for our approach, and since, we are not pitching you a picture but a process, I will try to keep this under 500 words.

p We are able to provide the full scope of services you require.

p Wireframing and incorporating your existing brand (which can be reworked if required) into a style framework ensuring consistancy of message and clarity of understanding throughout your build. 

p We are currently expanding our in house javascript based web app framework to include more features and would hope to work closely with you to ensure your site does everything you need and nothing more.

p This will ensure it does exactly what you need in the most delightful way possible. 


